{
    "openapi": "3.0.1",
    "info": {
        "title": "Emails",
        "description": "CRM objects such as companies, contacts, deals, line items, products, tickets, and quotes are standard objects in HubSpot's CRM. These core building blocks support custom properties, store critical information, and play a central role in the HubSpot application.\n\n## Supported Object Types\n\nThis API provides access to collections of CRM objects, which return a map of property names to values. Each object type has its own set of default properties, which can be found by exploring the [CRM Object Properties API](https:\/\/developers.hubspot.com\/docs\/methods\/crm-properties\/crm-properties-overview).\n\n|Object Type |Properties returned by default |\n|--|--|\n| `companies` | `name`, `domain` |\n| `contacts` | `firstname`, `lastname`, `email` |\n| `deals` | `dealname`, `amount`, `closedate`, `pipeline`, `dealstage` |\n| `products` | `name`, `description`, `price` |\n| `tickets` | `content`, `hs_pipeline`, `hs_pipeline_stage`, `hs_ticket_category`, `hs_ticket_priority`, `subject` |\n\nFind a list of all properties for an object type using the [CRM Object Properties](https:\/\/developers.hubspot.com\/docs\/methods\/crm-properties\/get-properties) API. e.g. `GET https:\/\/api.hubapi.com\/properties\/v2\/companies\/properties`. Change the properties returned in the response using the `properties` array in the request body.",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE",
            "commerce": "FREE",
            "crmHub": "FREE",
            "dataHub": "FREE"
        },
        "x-hubspot-api-use-case": "You send and manage emails to your customers using a third-party email provider, and you want to programmatically log your email data to the associated records in your HubSpot account.",
        "x-hubspot-related-documentation": [
            {
                "name": "Emails Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/engagements/email"
            }
        ],
        "x-hubspot-introduction": "Use the email engagements API to associate emails with records in your CRM. You can include various metadata fields as needed, including the email's headers, subject line, and body."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v3/objects/emails"
        }
    ],
    "tags": [
        {
            "name": "Basic"
        },
        {
            "name": "Batch"
        },
        {
            "name": "Search"
        }
    ],
    "paths": {
        "": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "List",
                "description": "Read a page of emails. Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/emails_getPage",
                "parameters": [
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "example": null
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10,
                            "example": null
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read",
                            "sales-email-read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create",
                "description": "Create a email with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard emails is provided.",
                "operationId": "post-/crm/v3/objects/emails_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        },
        "/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Archive a batch of emails by ID",
                "description": "Archive a batch of emails identified by their IDs.",
                "operationId": "post-/crm/v3/objects/emails/batch/archive_archive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        },
        "/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create a batch of emails",
                "description": "Create a batch of emails with specified properties and return the created objects.",
                "operationId": "post-/crm/v3/objects/emails/batch/create_create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputForCreate"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        },
        "/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Read a batch of emails by internal ID, or unique property values",
                "description": "Retrieve records by record ID or include the `idProperty` parameter to retrieve records by a custom unique value property. ",
                "operationId": "post-/crm/v3/objects/emails/batch/read_read",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        },
        "/batch/update": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Update a batch of emails by internal ID, or unique property values",
                "description": "Update a batch of emails using their internal IDs or unique property values.",
                "operationId": "post-/crm/v3/objects/emails/batch/update_update",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        },
        "/batch/upsert": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create or update a batch of emails by unique property values",
                "description": "Create or update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.",
                "operationId": "post-/crm/v3/objects/emails/batch/upsert_upsert",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        },
        "/search": {
            "post": {
                "tags": [
                    "Search"
                ],
                "summary": "Search for emails using specified criteria and filters.",
                "description": "Perform a search for emails based on the provided query parameters and return matching results.",
                "operationId": "post-/crm/v3/objects/emails/search_doSearch",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicObjectSearchRequest"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read",
                            "sales-email-read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/{emailId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Read",
                "description": "Read an Object identified by `{emailId}`. `{emailId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/emails/{emailId}_getById",
                "parameters": [
                    {
                        "name": "emailId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false,
                            "example": null
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.read",
                            "sales-email-read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Archive",
                "description": "Move an Object identified by `{emailId}` to the recycling bin.",
                "operationId": "delete-/crm/v3/objects/emails/{emailId}_archive",
                "parameters": [
                    {
                        "name": "emailId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Update",
                "description": "Perform a partial update of an Object identified by `{emailId}`or optionally a unique property value as specified by the `idProperty` query param. `{emailId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
                "operationId": "patch-/crm/v3/objects/emails/{emailId}_update",
                "parameters": [
                    {
                        "name": "emailId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "pattern": ".+",
                            "type": "string",
                            "example": null
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "example": null
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInput"
                            },
                            "example": null
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                },
                                "example": null
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "crm.objects.contacts.write",
                            "sales-email-read"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "A more specific error category within each main category",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Additional context-specific information related to the error",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "URLs linking to documentation or resources associated with the error",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "A unique ID for the error instance",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The main category of the error",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "description": "A human-readable string describing the error and possible remediation steps",
                        "example": null
                    },
                    "errors": {
                        "type": "array",
                        "description": "The detailed error objects",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "example": null
                    },
                    "status": {
                        "type": "string",
                        "description": "The HTTP status code associated with the error",
                        "example": null
                    }
                },
                "description": "Represents a standard error response in the HubSpot API, providing detailed information about an error that occurred during an API request",
                "example": null
            },
            "CollectionResponseAssociatedId": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Pagination information for navigating through results."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociatedId"
                        },
                        "example": null,
                        "description": "Array of associated object IDs returned by the query."
                    }
                },
                "example": null,
                "description": "Response containing a collection of associated object IDs with pagination support."
            },
            "CollectionResponseWithTotalSimplePublicObject": {
                "required": [
                    "results",
                    "total"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "description": "The number of available results",
                        "format": "int32",
                        "example": null
                    },
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Pagination information for navigating through results."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "example": null,
                        "description": "Array of CRM objects returned by the query."
                    }
                },
                "description": "Represents a list of simple objects returned from an API request, along with the total count of objects available",
                "example": null
            },
            "PublicAssociationsForObject": {
                "required": [
                    "to",
                    "types"
                ],
                "type": "object",
                "properties": {
                    "types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpec"
                        },
                        "example": null,
                        "description": "Array of association type specifications for the relationship."
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "The target object identifier for the association."
                    }
                },
                "example": null,
                "description": "Defines associations between a source object and target objects with association types."
            },
            "BatchResponseSimplePublicObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch processing was completed, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch request was initially made, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch processing began, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "example": null,
                        "description": "Array of CRM objects returned from the batch operation."
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "description": "A public object batch response object",
                "example": null
            },
            "FilterGroup": {
                "required": [
                    "filters"
                ],
                "type": "object",
                "properties": {
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Filter"
                        },
                        "example": null,
                        "description": "Array of filter conditions applied within this group."
                    }
                },
                "example": null,
                "description": "A group of filters combined with AND logic for search queries."
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail",
                        "example": null
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{missingScopes=[scope1, scope2]}"
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": null
                    }
                },
                "example": null,
                "description": "Detailed information about a specific error occurrence."
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Information for retrieving the next page of results."
                    }
                },
                "example": null,
                "description": "Pagination object for forward navigation through result sets."
            },
            "SimplePublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the object",
                        "example": "430001"
                    }
                },
                "description": "Contains the Id of a Public Object",
                "example": null
            },
            "BatchResponseSimplePublicUpsertObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was completed, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "numErrors": {
                        "type": "integer",
                        "description": "The number of errors encountered during the batch process",
                        "format": "int32",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was initiated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process began execution, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "example": null,
                        "description": "Array of successfully upserted CRM objects."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null,
                        "description": "Array of errors encountered during the batch upsert operation."
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request. Can be: \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "description": "Represents the response from a batch upsert operation, including the status, timestamps, successfully processed objects, and any errors that occurred during processing",
                "example": null
            },
            "BatchReadInputSimplePublicObjectId": {
                "required": [
                    "inputs",
                    "properties",
                    "propertiesWithHistory"
                ],
                "type": "object",
                "properties": {
                    "propertiesWithHistory": {
                        "type": "array",
                        "description": "Key-value pairs for setting properties for the new object and their histories",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    },
                    "idProperty": {
                        "type": "string",
                        "description": "When using a custom unique value property to retrieve records, the name of the property. Do not include this parameter if retrieving by record ID",
                        "example": null
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "example": null,
                        "description": "Array of object IDs to retrieve in the batch read operation."
                    },
                    "properties": {
                        "type": "array",
                        "description": "Key-value pairs for setting properties for the new object",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    }
                },
                "description": "Specifies the input for reading a batch of CRM objects, including arrays of object IDs, requested property names (with optional history), and an optional unique identifying property",
                "example": null
            },
            "BatchResponseSimplePublicUpsertObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was completed, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was initiated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process began execution, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "example": null,
                        "description": "Array of CRM objects created or updated by the upsert operation."
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request. Can be: \"PENDING\", \"PROCESSING\", \"CANCELED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "description": "Represents the result of a batch upsert operation, including the operation's status, timestamps, and a list of successfully created or updated objects",
                "example": null
            },
            "BatchInputSimplePublicObjectId": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "example": null,
                        "description": "Array of object IDs to process in the batch operation."
                    }
                },
                "example": null,
                "description": "Input payload containing multiple object IDs for batch operations."
            },
            "ValueWithTimestamp": {
                "required": [
                    "sourceType",
                    "timestamp",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "sourceId": {
                        "type": "string",
                        "description": "The unique ID of the property",
                        "example": null
                    },
                    "sourceType": {
                        "type": "string",
                        "description": "The property type",
                        "example": null
                    },
                    "sourceLabel": {
                        "type": "string",
                        "description": "A human-readable label",
                        "example": null
                    },
                    "updatedByUserId": {
                        "type": "integer",
                        "description": "The ID of the user who last updated the property",
                        "format": "int32",
                        "example": null
                    },
                    "value": {
                        "type": "string",
                        "description": "The property value",
                        "example": null
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "The timestamp when the property was updated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    }
                },
                "description": "Property model that includes timestamp",
                "example": null
            },
            "BatchInputSimplePublicObjectBatchInputUpsert": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInputUpsert"
                        },
                        "example": null,
                        "description": "Array of email objects to upsert in the batch operation."
                    }
                },
                "example": null,
                "description": "Request body for batch upsert operations on email objects."
            },
            "SimplePublicObject": {
                "required": [
                    "archived",
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "archived": {
                        "type": "boolean",
                        "description": "Whether the object is archived",
                        "example": null
                    },
                    "archivedAt": {
                        "type": "string",
                        "description": "The timestamp when the object was archived, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "The timestamp when the object was created, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            },
                            "example": null
                        },
                        "description": "Key-value pairs representing the properties of the object along with their history",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the object",
                        "example": null
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "An identifier used for tracing the write request for the object",
                        "example": null
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key-value pairs representing the properties of the object",
                        "example": null
                    },
                    "url": {
                        "type": "string",
                        "description": "The URL associated with the object",
                        "example": null
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "The timestamp when the object was last updated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    }
                },
                "description": "A simple public object",
                "example": {
                    "archived": false,
                    "createdAt": "2019-10-30T03:30:17.883Z",
                    "id": "512",
                    "properties": {
                        "property_checkbox": "false",
                        "property_date": "1572480000000",
                        "property_dropdown": "choice_b",
                        "property_multiple_checkboxes": "chocolate;strawberry",
                        "property_number": "17",
                        "property_radio": "option_1",
                        "property_string": "value"
                    },
                    "updatedAt": "2019-12-07T16:50:06.678Z"
                }
            },
            "PublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the object",
                        "example": null
                    }
                },
                "description": "Contains the Id of a Public Object",
                "example": null
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Cursor for retrieving the next page of results."
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage",
                        "description": "Cursor for retrieving the previous page of results."
                    }
                },
                "example": null,
                "description": "Pagination information for navigating through result sets."
            },
            "PublicObjectSearchRequest": {
                "required": [
                    "after",
                    "filterGroups",
                    "limit",
                    "properties",
                    "sorts"
                ],
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": "The search query string, up to 3000 characters",
                        "example": null
                    },
                    "limit": {
                        "type": "integer",
                        "description": "The maximum results to return, up to 200 objects",
                        "format": "int32",
                        "example": null
                    },
                    "after": {
                        "type": "string",
                        "description": "A paging cursor token for retrieving subsequent pages",
                        "example": null
                    },
                    "sorts": {
                        "type": "array",
                        "description": "Specifies sorting order based on object properties",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    },
                    "properties": {
                        "type": "array",
                        "description": "A list of property names to include in the response",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    },
                    "filterGroups": {
                        "type": "array",
                        "description": "Up to 6 groups of filters defining additional query criteria",
                        "items": {
                            "$ref": "#/components/schemas/FilterGroup"
                        },
                        "example": null
                    }
                },
                "description": "Describes a search request",
                "example": null
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error",
                        "example": null
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": null
                            },
                            "example": null
                        },
                        "description": "Context about the error condition",
                        "example": "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": null
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "An error occurred"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "example": null
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Error response object containing details about a failed API request."
            },
            "SimplePublicObjectBatchInputUpsert": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "description": "The name of a property whose values are unique for this object",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the object",
                        "example": null
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "An identifier for tracing the creation request",
                        "example": null
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key value pairs representing the properties of the object",
                        "example": null
                    }
                },
                "description": "Represents an object used in batch upsert operations, containing an object's unique identifier, its properties, and optionally the unique property name and a write trace ID",
                "example": null
            },
            "BatchResponseSimplePublicObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was completed, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "numErrors": {
                        "type": "integer",
                        "description": "The number of errors encountered during the batch process",
                        "format": "int32",
                        "example": null
                    },
                    "requestedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process was initiated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "startedAt": {
                        "type": "string",
                        "description": "The timestamp when the batch process began execution, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "An object containing relevant links related to the batch request",
                        "example": null
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "example": null,
                        "description": "Array of successfully processed email objects."
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "example": null,
                        "description": "Array of errors encountered during batch processing."
                    },
                    "status": {
                        "type": "string",
                        "description": "The status of the batch processing request - \"PENDING\", \"PROCESSING\", \"CANCELLED\", or \"COMPLETE\"",
                        "enum": [
                            "CANCELED",
                            "COMPLETE",
                            "PENDING",
                            "PROCESSING"
                        ],
                        "example": null
                    }
                },
                "description": "Represents the result of a batch operation on CRM objects, including the processing status, batch results, timestamps, and a list of any errors encountered during the operation",
                "example": null
            },
            "SimplePublicObjectInput": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key value pairs representing the properties of the object",
                        "example": null
                    }
                },
                "description": "Represents the input required to create or update a CRM object, containing an object with property names and their corresponding values",
                "example": {
                    "properties": {
                        "property_checkbox": "false",
                        "property_date": "1572480000000",
                        "property_dropdown": "choice_b",
                        "property_multiple_checkboxes": "chocolate;strawberry",
                        "property_number": "17",
                        "property_radio": "option_1",
                        "property_string": "value"
                    }
                }
            },
            "CollectionResponseSimplePublicObjectWithAssociationsForwardPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward pagination information for the result set."
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                        },
                        "example": null,
                        "description": "Array of email objects with their associated CRM records."
                    }
                },
                "example": null,
                "description": "Paginated collection of email objects with their associations."
            },
            "AssociationSpec": {
                "required": [
                    "associationCategory",
                    "associationTypeId"
                ],
                "type": "object",
                "properties": {
                    "associationCategory": {
                        "type": "string",
                        "description": "The category of the association, such as \"HUBSPOT_DEFINED\"",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "INTEGRATOR_DEFINED",
                            "USER_DEFINED",
                            "WORK"
                        ],
                        "example": null
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "description": "The ID representing the specific type of association",
                        "format": "int32",
                        "example": null
                    }
                },
                "description": "Defines the type, direction, and details of the relationship between two CRM objects",
                "example": null
            },
            "SimplePublicObjectWithAssociations": {
                "required": [
                    "archived",
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectionResponseAssociatedId"
                        },
                        "description": "A list defining relationships with other objects",
                        "example": null
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Whether the object is archived",
                        "example": null
                    },
                    "archivedAt": {
                        "type": "string",
                        "description": "The timestamp when the object was archived, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "The timestamp when the object was created, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            },
                            "example": null
                        },
                        "description": "Key-value pairs representing the properties of the object along with their history",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the object",
                        "example": null
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "An identifier used for tracing the creation or update request of the object",
                        "example": null
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key value pairs representing the properties of the object",
                        "example": null
                    },
                    "url": {
                        "type": "string",
                        "description": "The URL on the API that provide direct navigation to the corresponding UI pages for the connectors",
                        "example": null
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "The timestamp when the object was last updated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    }
                },
                "description": "Represents a CRM object along with its properties, timestamps, and a set of associated object IDs grouped by association type",
                "example": null
            },
            "Filter": {
                "required": [
                    "operator",
                    "propertyName"
                ],
                "type": "object",
                "properties": {
                    "highValue": {
                        "type": "string",
                        "description": "The upper boundary value when using ranged-based filters",
                        "example": null
                    },
                    "propertyName": {
                        "type": "string",
                        "description": "The name of the property to apply the filter to",
                        "example": null
                    },
                    "values": {
                        "type": "array",
                        "description": "The values to match against the property",
                        "items": {
                            "type": "string",
                            "example": null
                        },
                        "example": null
                    },
                    "value": {
                        "type": "string",
                        "description": "The value to match against the property",
                        "example": null
                    },
                    "operator": {
                        "type": "string",
                        "description": "null",
                        "enum": [
                            "BETWEEN",
                            "CONTAINS_TOKEN",
                            "EQ",
                            "GT",
                            "GTE",
                            "HAS_PROPERTY",
                            "IN",
                            "LT",
                            "LTE",
                            "NEQ",
                            "NOT_CONTAINS_TOKEN",
                            "NOT_HAS_PROPERTY",
                            "NOT_IN"
                        ],
                        "example": null
                    }
                },
                "description": "Defines a single condition for searching CRM objects, specifying the property to filter on, the operator to use (such as equals, greater than, or contains), and the value(s) to compare against. ",
                "example": null
            },
            "BatchInputSimplePublicObjectBatchInput": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInput"
                        },
                        "example": null,
                        "description": "Array of email objects to update in the batch operation."
                    }
                },
                "example": null,
                "description": "Request body for batch update operations on email objects."
            },
            "PreviousPage": {
                "required": [
                    "before"
                ],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string",
                        "description": "A paging cursor token for retrieving previous pages",
                        "example": null
                    },
                    "link": {
                        "type": "string",
                        "description": "A URL that can be used to retrieve the previous pages' results",
                        "example": null
                    }
                },
                "description": "specifies the paging information needed to retrieve the previous set of results in a paginated API response",
                "example": null
            },
            "SimplePublicUpsertObject": {
                "required": [
                    "archived",
                    "createdAt",
                    "id",
                    "new",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "archived": {
                        "type": "boolean",
                        "description": "Whether the object is archived",
                        "example": null
                    },
                    "archivedAt": {
                        "type": "string",
                        "description": "The timestamp when the object was archived, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "The timestamp when the object was created, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    },
                    "new": {
                        "type": "boolean",
                        "description": "Whether the property is new",
                        "example": null
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            },
                            "example": null
                        },
                        "description": "Key-value pairs representing the properties of the object along with their history",
                        "example": null
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique ID of the object",
                        "example": null
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "An identifier used for tracing the write request for the object",
                        "example": null
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key value pairs representing the properties of the object",
                        "example": null
                    },
                    "url": {
                        "type": "string",
                        "description": "The URL associated with the object",
                        "example": null
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "The timestamp when the object was last updated, in ISO 8601 format",
                        "format": "datetime",
                        "example": null
                    }
                },
                "description": "Represents a CRM object that has either been created or updated (upserted)",
                "example": null
            },
            "SimplePublicObjectBatchInput": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "description": "The name of a property whose values are unique for this object",
                        "example": "my_unique_property_name"
                    },
                    "id": {
                        "type": "string",
                        "description": "The id to be updated. This can be the object id, or the unique property value of the idProperty property",
                        "example": null
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "A unique identifier for tracing the request",
                        "example": null
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key-value pairs representing the properties of the object",
                        "example": null
                    }
                },
                "description": "Contains an array of CRM object records to be processed in a batch operation, each defined by their ID and properties",
                "example": null
            },
            "SimplePublicObjectBatchInputForCreate": {
                "required": [
                    "associations",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationsForObject"
                        },
                        "example": null,
                        "description": "Associations to create between this email and other CRM objects."
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "An identifier used for tracing the creation or update request of the object",
                        "example": null
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key value pairs representing the properties of the object",
                        "example": null
                    }
                },
                "description": "An input object that contains a collection of objects to be created together in a batch",
                "example": null
            },
            "AssociatedId": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The ID for the association type",
                        "example": null
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of associations",
                        "example": "deal_to_contact"
                    }
                },
                "description": "Contains the id and type of an association",
                "example": null
            },
            "NextPage": {
                "required": [
                    "after"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "description": "A URL that can be used to retrieve the next page results",
                        "example": null
                    },
                    "after": {
                        "type": "string",
                        "description": "A paging cursor token for retrieving subsequent pages",
                        "example": null
                    }
                },
                "description": "Specifies the paging information needed to retrieve the next set of results in a paginated API response",
                "example": {
                    "after": "NTI1Cg%3D%3D",
                    "link": "?after=NTI1Cg%3D%3D"
                }
            },
            "SimplePublicObjectInputForCreate": {
                "required": [
                    "associations",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationsForObject"
                        },
                        "example": null,
                        "description": "Associations to create between this email and other CRM objects."
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "example": null
                        },
                        "description": "Key-value pairs for setting properties for the new object",
                        "example": null
                    }
                },
                "description": "Is the input object used to create a new CRM object, containing the properties to be set and optional associations to link the new record with other CRM objects",
                "example": null
            },
            "BatchInputSimplePublicObjectBatchInputForCreate": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInputForCreate"
                        },
                        "example": null,
                        "description": "Array of email objects to create in the batch operation."
                    }
                },
                "example": null,
                "description": "Request body for batch create operations on email objects."
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        },
                        "example": null
                    }
                }
            }
        },
        "securitySchemes": {
            "developer_hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            },
            "hapikey": {
                "type": "apiKey",
                "name": "hapikey",
                "in": "query"
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm-public-object-api-access": "",
                            "crm.objects.contacts.read": "",
                            "crm.objects.contacts.write": "",
                            "oauth": "",
                            "oauth-access": "",
                            "sales-email-read": ""
                        }
                    }
                }
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            }
        }
    },
    "x-hubspot-available-client-libraries": [
        "Node",
        "Python",
        "Ruby",
        "PHP"
    ],
    "x-hubspot-product-tier-requirements": {
        "marketing": "FREE",
        "sales": "FREE",
        "service": "FREE",
        "cms": "FREE",
        "commerce": "FREE",
        "crmHub": "FREE",
        "dataHub": "FREE"
    }
}